<header class="navbar">

    <a href="/" class="logo logo-image">
    <img src="/images/homestay-gallery-logo.png" alt="Home Stay Gallery">
</a>

    <nav class="navbar-links">

        <a href="/">Explore</a>

        <a href="/#about">
            About
        </a>

        <a href="/#how-it-works">
            How it works
        </a>
        <a href="/blog.html">Blog</a>

        <a href="/register.html">Become a Host</a>

        <a href="/login.html" class="nav-login">
            Login
        </a>

    </nav>

    <button class="menu-btn" id="menuBtn">
        ☰
    </button>

</header>